.tree-view-box {
    background-color: #d5e0f2;
    margin: 16px 3px;
}

.container {
  /* border-left: 1px solid black; */
  padding-left: 1rem;
}

span {
  margin: 0.5rem;
  cursor: pointer;
}

.file-row {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.file-actions {
  display: flex;
  align-items: center;
}

.folder-actions {
  display: flex;
  align-items: center;
}

.file-name {
  width: 120px;
}

.new-file {
  display: flex;
}
